@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        
        <!--Nav bar links-->
        <li>@Html.ActionLink("HOME", "Index", "Home")</li>
        <li>@Html.ActionLink("MANAGEMENT", "Index", "Devices")</li>
        <li>@Html.ActionLink("REPAIR HUB", "Index", "RepairHub")</li>
        <li>@Html.ActionLink("TECH SPECS", "SpecSheet", "Spec")</li>
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">LOG OFF</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

    </ul>
}
