@model Project2_403.Models.RepairRecordModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RepairRecordModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepairStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairComments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RepairRecordId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
