@model Project2_403.Models.DeviceReference

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeviceReference</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceBattery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceBattery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
